<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    
       <p>CAP123: O+</p>
	<p>CAP919: A</p>
	<p>CAP917: A+</p>
    {{> footer}}
  </body>
</html>
