<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    
       <p>Name: Avinash Kumar</p>
	<p>Regn No.: 11608013</p>
	
    {{> footer}}
  </body>
</html>
